#titulo{background-color: aquamarine;font-size: 30pt;color: white;}
#link{background-color: brown;}
.alerta{background-color: yellow; font-size: 15pt;text-align: center;}
h1{text-align: center;}
header{
    background-color:#C4C4C4;
    
}
h1,h5{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
button{
    margin-top: auto;
    color: white;
    background-color: #a3a7cf;
    margin: 15px;
    font-size: 20px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    
}
nav p{
    font-weight: bold;
    font-size: 32px;
}
