#titulo{background-color: aquamarine;font-size: 30pt;color: white;}
#link{background-color: brown;}
.alerta{background-color: yellow; font-size: 15pt;text-align: center;}
h1{text-align: center;}
aside{
    float: left;
    background-color:rgb(99, 129, 184);
    width: 15%;
    height: 1000px;
    margin-right: 15px;
}
aside img{
    width: 45%;
    border-radius: 30%;
}
aside h1,h5{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#circulo,#circulo1,#circulo5{
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 8px;
    border-radius: 50%;
    display: inline-block;
}
