#body {
    margin: 0px;
    transition: margin-left .5s;
}
header{
    background-color:#C4C4C4
}
header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
header nav button{
    margin-top: auto;
    color: white;
    background-color: #a3a7cf;
    margin: 15px;
    font-size: 20px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    cursor: pointer;
    
}
button:hover{
    background-color:#444;
}
#infos{
    padding: 15px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(29, 28, 28);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar .perfil{
    width: 55%;
    margin-left: 56.25px;
    border-radius: 8px;

}
 
.closebtn:hover {
    color: #f1f1f1;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  height: 450px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
  
.title {
    color: grey;
    font-size: 18px;
}
  
.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
#social {
    display: inline;
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    
}
  
button:hover, a:hover {
    opacity: 0.7;
}
.mySlides {display: none;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

/* The dots/bullets/indicators */
#triangulo{
    display: inline-block;
    width:0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #2C56C2;
    display: inline;
}
.dot {
  display: none;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#titulo{background-color: aquamarine;font-size: 30pt;color: white;}
.alerta{background-color: yellow; font-size: 15pt;text-align: center;}
h1{text-align: center;}

h1,h5{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




