#body {
    margin: 0px;
    transition: margin-left .5s;
}
/* Header and their components */
    header{
        background-color:#C4C4C4
    }
    header nav{
        display: flex;
        justify-content: space-between;
    }

    header nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    header nav button{
        margin-top: auto;
        color: white;
        background-color: #a3a7cf;
        margin: 15px;
        font-size: 20px;
        border-radius: 8px;
        padding:15px;
        border: 0;
        cursor: pointer;  
    }
    #infos{
        padding: 15px;
    }
    button:hover{
        background-color:#444;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

/* Sidebar and their components */
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(29, 28, 28);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align: center;
    }  
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .closebtn:hover {
        color: #f1f1f1;
    }
    .work {
        color: grey;
        font-size: 18px;
    }
    #social {
        display: inline;
        text-decoration: none;
        font-size: 22px;
        color: grey;
        margin-left: 10px;
        margin-right: 10px;
        
    }
  
/* Slideshow container */
    .slideshow-container {
    position: relative;
    margin: auto;
    height: 450px;
    }
    button:hover, a:hover {
        opacity: 0.7;
    }
    .mySlides {display: none;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        overflow:hidden;
    }
    #triangulo{
        display: inline-block;
        width:0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid #2C56C2;
        display: inline;
    }
    .dot {
        display: none;
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
    * {
        box-sizing: border-box;
    }
    
  
  /* Timeline */
    .timeline {
        background-color: #474e5d;
        font-family: Helvetica, sans-serif;
        position: relative;
        margin: 0 auto;
    }
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
    .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }
    .container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    .left {
        left: 0;
    }
    .right {
        left: 50%;
    }
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .right::after {
        left: -16px;
    }
    .content {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }
    
    .active, .collapsible:hover {
        background-color: #555;
    }
    
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
    
    /* Media queries - Responsive timeline on screens less than 600px wide */
    @media screen and (max-width: 600px) {
        .timeline::after {
            left: 31px;
        }
        .container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }
        .container::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }
        .left::after, .right::after {
            left: 15px;
        }
        .right {
            left: 0%;
        }
    }





